@model IEnumerable<TaskApp.Models.Employee>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Employees</h2>

    <p>@Html.ActionLink("New User", "NewEmployee", "Employees", null, new { @class = "btn btn-primary" })</p><br />

<table id="employees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.ActionLink(employee.LastName + " " + employee.FirstName, "GetEmployeeByName", "Employees", new { lastName = employee.LastName, firstName = employee.FirstName }, null)</td>
                <td>@Html.ActionLink("Edit", "GetIdEmployee", "Employees", new { lastName = employee.LastName, firstName = employee.FirstName, username = employee.Username, password = employee.Password, userType = employee.UserType }, null)</td>
                <td>@Html.ActionLink("Delete", "DeleteEmployee", "Employees", new { lastName = employee.LastName, firstName = employee.FirstName}, null)</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("employees").DataTable();
        })
    </script>
}