@model TaskApp.Models.Employees

@{
    ViewBag.Title = "Employees";
}

    <h2>Employees</h2><br />

<table id="employees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.EmployeesList)
        {
            <tr>
                <td>@Html.ActionLink(employee.LastName + " " + employee.FirstName, "GetEmployeeByName", "Employees", new { lastName = employee.LastName, firstName = employee.FirstName }, null)</td>
                
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("employees").DataTable();
        })
    </script>
}